<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/all.css">
    <link rel="stylesheet" href="/static/fontawesome.css">
</head>
<body>
<header>
<nav>
    <ul>
        {% if user.is_authenticated %}
        <li>
            <form action="{% url 'accounts:logout' %}" class="logout-link" method="post">
                {% csrf_token %}
                <button type="submit">logout<i class="fas fa-sign-out-alt out-icon"></i> </button>
            </form>
        </li>
        <li>
            <a class="highlight" href="{% url 'articles:create' %}"><b>create article </b><i class="fas fa-pencil-alt pen"></i></a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'accounts:login' %}" class="btnh">Login<i class="fas fa-sign-in-alt btnhi"></i></a>
        </li>
        <li>
            <a href="{% url 'accounts:signup' %}" class="btnh">Sign up<i class="fas fa-user-plus btnhi"></i></a>
        </li>
        {%endif%}
    </ul>
</nav>
</header>
<div class="wrapper">
  <h1>Articles List</h1>
        <div class="articles">
            {% for article in articles %}
                <div class="article">
                    <img src="{{article.image.url}}" alt="" class="list-img">
                    <h2><a href="{% url 'articles:detail' slug=article.slug %}">{{article.title}}</a></h2>
                    <p>{{article.snippet}}</p>
                    <p>{{article.date}}</p>
                    <p class="author">added by {{article.author.username}}</p>
                </div>
            {%endfor%}
        </div>

</div>
</body>
</html>