{%extends 'base.html'%}
{% block title %}
    articles
{%endblock%}

{% block static %}
style.css
{%endblock%}

{% block content %}
<div class="article-detail">
    <div class="article">
        <img src="{{article.image.url}}" alt="">
        <h1>{{article.title}}</h1>
        <br>
        <h3>{{article.body}}</h3>
        <br>
        <p>{{article.date}}</p>
    </div>
</div>
{%endblock%}